<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--开启注解-->
    <context:annotation-config/>

    <context:component-scan base-package="AllZhuJie"/>


    <!--可以把多个配置文件导入合并进此xml,如果其他xml中的内容有重复,会随机选中一个,而不是重复选择所有-->
    <import resource="first.xml"></import>

</beans>